body {
	background: rgb(229, 126, 255);
	background: linear-gradient(
		90deg,
		rgb(178, 9, 220) 12%,
		rgba(6, 132, 216, 1) 100%
	);
}

h1{
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 5%;
}

h1 span {
  color: rgb(255, 213, 0);
}

#tasks {
  background-color: aliceblue;
  margin: 3% auto;
  padding: 2%;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
}

.taskname{
  font-size: 1.1rem;
}

.completed {
  text-decoration: line-through;
  color: rgb(0, 187, 91);
}
